html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, ol, ul, li,  tr, th, td, form { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; background: transparent; font-size:13px; }
.home_login{
	font-size:13px;
}

input, button{ overflow: visible; }
html, body { height: 100%; min-height: 100%; }
body { font: normal 11px/14px tahoma, arial, verdana, sans-serif; text-align:center; color: #333; background: #fff; }
p { padding: 0 0 10px; }
ul { padding: 0 0 0 16px; }
li { padding: 0 0 8px; }
a  { text-decoration: none; }
a:link, a:visited { color: #1d64c1; }
a:hover, a:active { color: #000066; text-decoration: underline; }
.clear, .box .content { display: inline-block; }
.clear:after, .box .content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clear, * html .box .content { height: 1%; }
.clear, .box .content { display: block; }
.none, .hidden { display: none; }
.page { position: relative; width: 100%; min-width: 850px; min-height: 100%; }
* html .page { height: 100%; }
.page .header { width: 100%; height: 53px; text-align: left; background: #009999 }
.page .header .company-logo { float: right; display: block; margin: 9px 20px 0 10px; width: 100px; height: 31px; overflow: hidden; text-indent: -9999px;  }
.page .header .header-area { height: 53px; }
.page .header h1 { float: left; width: 210px; height: 50px; text-align: left; }
.page .header h1 a { display: block; margin: 0 0 0 10px; width: 210px; height: 50px; overflow: hidden; text-indent: -9999px;  }
.page .header .header-text { float: right; font-size: 11px; }
.page .header .header-text a { float: left; margin: 11px 13px 0 0; color: #506cc6; text-decoration: none; font-size: 11px; }
.page .header .header-text a.txt-banner { margin-right: 10px; }
.page .header .header-text a strong { font-weight: normal; }
.page .header .header-text a.top-copyright { text-align: right; }
.wrapper { margin: 0 auto; padding: 24px 0 50px; width: 734px; text-align: left; }
#body { margin: 0 auto; padding: 12px 0 28px 0; width: 734px; text-align:left; }
.box { position: relative; background: #fff; border: 0px solid #c0c0c0; width:100%; }
.box .content { padding: 10px; position: relative; font-size:12px; }
.box em { display: block; width: 11px; height: 11px; position: absolute; background: url('../img/common/box-corners.png') no-repeat; overflow: hidden; }
.box em.tl { background-position: 0 0; left:-1px; top:-1px;}
.box em.tr { background-position: -29px 0; right:-1px; top:-1px;}
.box em.bl { background-position: 0 -29px; left:-1px; bottom:-1px;}
.box em.br { background-position: -29px -29px; right:-1px; bottom:-1px;}
.globe { float: left; background: url('../images/wind1.jpg') 0 0 no-repeat; width: 167px; height: 198px; margin: 0; }
.welcome { padding: 0 0 0 187px; }
h2 { margin: 5px 0 10px; padding: 10px 0 3px; font-size: 20px; font-weight: normal; color: #000; }
h3 { margin: 10px 0 5px 0; }
.hr { border-top: 1px solid #e0e0e0; margin-top: 5px; padding: 10px 0 0; overflow:hidden; font-size:13px; }
.center { text-align: center; }
.products { width: 390px; float: right; }
.new-to-parallels { width: 330px; float: left; }
.column { width: 180px; }
.column.left { float: left; }
.column.right { float: right; }
.column strong { display: block; margin-bottom: 11px; }
.column p { display: block; margin-top: 15px; font-size: 10px; }
.column img { float:left; margin-right: 15px; width: 69px; }
.page .footer { position: absolute; left: 0; bottom: 0; border-top: 1px solid #009999; width: 100%; min-width: 300px; height: 38px; background:#009999; }
.page .footer-area { height: 38px; font-size: 11px; text-align: center; color: white; margin-top:10px; }
.page .footer .description { margin: 0; padding: 12px 10px 0; }
.icons-area { padding: 5px 10px 10px; text-align: center; background: url('../img/common/blocks_bg.png') 0 100% no-repeat; }
.icon { display: -moz-inline-box; display: inline-block; margin: 0 3px 12px 0; padding: 0; min-height: 32px; font: normal 11px/13px tahoma, arial, helvetica, sans-serif; text-decoration: none; text-align: left; vertical-align: top; color: #000; cursor: pointer; background-position: 50% 0; background-repeat: no-repeat; }
a.icon:link, a.icon:visited, a.icon:hover, a.icon:active { color: #000; text-decoration: none; }
.icon span { display: block; padding: 34px 0 0; width: 80px; text-align: center; cursor: pointer; }
#asp { background-image: url('../img/glyph/btn_asp_bg.gif'); }
#aspnet { background-image: url('../img/glyph/btn_aspdotnet_bg.gif'); }
#coldfusion { background-image: url('../img/glyph/btn_coldfusion_bg.gif'); }
#perl { background-image: url('../img/glyph/btn_perl_bg.gif'); }
#php { background-image: url('../img/glyph/btn_php_bg.gif'); }
#python { background-image: url('../img/glyph/btn_python_bg.gif'); }
#ssi { background-image: url('../img/glyph/btn_ssi_bg.gif'); }
#fcgi { background-image: url('../img/glyph/btn_fast_cgi_bg.gif'); }
#miva { background-image: url('../img/glyph/btn_miva_bg.gif'); }
.test { width: 680px; }
.test .pathbar { color: #7b7b7b; }
.test .pathbar a { text-decoration: underline; color: #7b7b7b; }
.test .pathbar a:hover { color: #39f; }
.test h2 { margin: 10px 0; font-size: 17px; font-weight: normal; }
.test .tab-content { border: 1px solid #a0b0e9; padding: 10px; background: #fff; }
iframe { border: 1px solid #a0b0e9; }
fieldset { border: 1px solid #e0e0e0; margin: 0; padding: 0 10px 10px; }
legend { margin: 0; padding: 0 2px 5px; vertical-align: middle; font-weight: bold; color: #000; }
.form-fields { padding-top: 6px; }
.formFields { margin: 5px 0; }
.formFields, .formFields input, .formFields select, .formFields textarea { font: normal 11px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif; }
.formFields td.name { padding: 0 10px 10px 0; width: 200px; vertical-align: top; font-weight: bold; }
.buttonsContainer { margin-top: 10px; text-align: right; }
.buttonsContainer .commonButton { display: inline; margin-left: 14px; }
.buttonsContainer .commonButton span { display: none; }
.buttonsContainer .commonButton button { border: 0; width: 91px; height: 21px; text-align: center; white-space: nowrap; cursor: pointer; font: normal 11px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif; background: transparent url('../img/glyph/btn_bg.gif') 0 0 no-repeat; }
.commonButton button[disabled] { color: #999; background-image: url('../img/glyph/btn_bg-disabled.gif'); }
#bid-ok button  { padding-left: 8px; background-image: url('../img/glyph/btn_ok_bg.gif'); }
.commonButton button:hover { background-position: 0 -21px; }
.commonButton button[disabled]:hover { background-position: 0 0; }
.testRelults#testFailed { border: 1px solid #ccc; margin: 0 0 10px; padding: 10px 10px 10px 32px; background: #fde9e5 url('../img/icons/fail.gif') 10px 11px no-repeat; }
.testRelults#testSuccessful { border: 1px solid #ccc; margin: 0 0 10px; padding: 10px 32px; background: #bff7b4 url('../img/icons/success.gif') 10px 11px no-repeat; }
.testResult { font-weight: bold; }
.test-data { text-align: left; background: #fff; }
.test-data table { border-collapse: collapse; margin-bottom: 10px; width: 100%; color: #000; background-color: white; }
.test-data table th, .test-data table td { padding: 4px 6px; }
.test-data tr.subhead { background-color: #e8f4fe; }
.test-data tr.subhead th { border-bottom: 1px solid #b1c1f9; background: #e8f4fe url('../img/common/th-na-bg.gif') 0 0 repeat-x; }
.test-data th.alt { border-top: 1px solid #b1c1f9; border-bottom: 1px solid #b1c1f9; color: #000; background-color: #dbebff; }
.test-data tr.alt { background-color: #ebf4ff; }

.tab-head-tr{
	/*background-color:#76923C;*/
	background-color:#009999;
	font-weight:bold;
	font-size:16px;
	height:20px;
	color:#ffffff;
}
.tab-head-tr-fixed{
	/*background-color:#76923C;*/
	background-color:#009999;
	font-weight:bold;
	font-size:16px;
	height:20px;
	color:#ffffff;
	position:fixed;
}
.tab-head-tr-big{
	/*background-color:#76923C;*/
	background-color:#009999;
	font-weight:bold;
	font-size:20px;
	height:20px;
	color:#ffffff;
}
.tab-head-tr-medium{
	/*background-color:#76923C;*/
	background-color:#009999;
	font-weight:bold;
	font-size:18px;
	height:20px;
	color:#ffffff;
}
.tab-head-tr-new{
	/*background-color:#990066;*/
	background-color:#009999;
	font-weight:bold;
	font-size:16px;
	height:20px;
	color:#ffffff;
}
.tab-head-frame{
	padding-left:5px;
	/*background-color:#76923C;*/
	background-color:#009999;
	font-weight:bold;
	font-size:13px;
	height:20px;
	color:#ffffff;
}
.tab-head-td{
	/*background-color:#B3CC82;*/
	background-color:#e6f2ff;
	font-weight:bold;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	color:#000000;
}
.tab-head-td2{
	/*background-color:#B3CC82;*/
	/*background-color:#e6f2ff;*/
	font-weight:bold;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	color:#000000;
}
.tab-head-td3{
	/*background-color:#B3CC82;*/
	/*background-color:#e6f2ff;*/
	font-weight:normal;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	color:#000000;
}
.tab-head-td-new{
	background-color:#e6f2ff;
	font-weight:bold;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	color:#000000;
}
.logged_txt{
	font-weight:normal;
	font-size:12px;
	color:white;
}
.logout_txt{
	font-weight:normal;
	font-size:12px;
}

.tab-head-td1{
	/*background-color:#B3CC82;*/
	background-color:#e6f2ff;
	font-weight:normal;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	color:#000000;
}
.tab-head-td1-new{
	/*background-color:#e6ffff;*/
	background-color:#e6f2ff;
	font-weight:normal;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	color:#000000;
}
.tab-head-td1-status{
	/*background-color:#e6ffff;
	background-color:#e6f2ff;*/
	font-weight:normal;
	font-size:14px;
	padding-left:8px;
	text-align:left;
	height:18px;
	font-color:white;
}

.tab-head-td-sr{
	background-color:#B9F2EF;
	font-weight:normal;
	font-size:12px;
	padding:10px 0 10px 8px;
	text-align:center;
	height:18px;
}
.tab-head-td-sr-inner{
	background-color:#B9F2EF;
	font-weight:normal;
	font-size:12px;
	padding:10px 0 10px 8px;
	text-align:left;
	height:18px;
}
.tab-head-td-sr-inner1{
	background-color:#B9F2EF;
	font-weight:normal;
	font-size:12px;
	padding:0px 0 0px 8px;
	text-align:left;
	height:18px;
}
.tab-head-td-sr-inner2{
	background-color:#B9F2EF;
	font-weight:normal;
	font-size:12px;
	padding:5px 0 5px 8px;
	text-align:left;
	height:18px;
}
.service-out{
	text-align:center;
	color:red;
	font-size:13px;
}
.service-report-textarea{
	text-align:left;
	padding-left:5px;
	padding-bottom:0px;
	font-size:13px;
	font-weight:bold;
	width:300px;
	height:30px;
}
.service-report-select{
	text-align:left;
	padding-left:5px;
	padding-bottom:0px;
	font-size:13px;
	font-weight:bold;
	width:300px;
}
.service-report-textarea1{
	text-align:left;
	padding-left:5px;
	padding-bottom:0px;
	font-size:13px;
	width:300px;
	height:60px;
}

.admin_valid_txt{
	text-align:left;
	padding-left:50px;
	padding-bottom:0px;
	color:red;
	font-size:11px;
}
.right-tab{
	padding-left:5px;
}

.Output_Div{
	display:none;
	width:40%;
}

.Ajax_Img{
	margin-top:80px;
	background-image:url(../images/ajax.gif);
	background-repeat:no-repeat;
	display:none;
	width:350px;
}
.tower-txt{
	font-size:13px;
	text-align:left;
	line-height:1.5em;
}
.tower-txt-new{
	font-size:11px;
	text-align:left;
	line-height:1em;
}
.server-report-txtbox{
	font-weight:normal;
	font-size:12px;
	width:40px;
}
.server-report-txtbox1{
	font-weight:normal;
	font-size:12px;
	width:250px;
	height:22px;
}

.sub-txt{
	font-size:12px;
	color:blue;
}
.Yes-Box-cls{
	margin-top:10px;
	display:none;
}	
	.admin_valid_txt1{
	display:none;
	text-align:left;
	padding-left:2px;
	padding-bottom:0px;
	color:red;
	font-size:11px;
}

.marquee {left: 5%;top:143px;width:90%;height:25px;right:5%;color:green;font-weight:bold;
	position:absolute;
     overflow:hidden;
     }
.marquee span {white-space:nowrap;}




#proceed_submit {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:25px;
	margin:0 5px 0 0;
	font-weight:bold;
}

.green{
    text-align:center;
    border:1px solid black;
    border-spacing:10px;
    
    background-color: green;
    width:110%;
    height:120%; 
    background: rgba(25, 150, 25, .7);
}
.orange{
    text-align:center;
    border:1px solid black;
    border-spacing:10px;
    
    background-color: orange;
    width:110%;
    height:120%; 
}
.red{
    text-align:center;
    border:1px solid black;
    border-spacing:10px;
    
    background-color: red;
    width:110%;
    height:100%;
    background: rgba(250, 25, 25, .8);
}
.blue{
    text-align:center;
    border:1px solid black;
    border-spacing:10px;
    
    background-color: blue;
    width:110%;
    height:100%;
    background: rgba(25, 35, 200, .8); 
}
.grey{
    text-align:center;
    border:1px solid black;

    border-spacing:10px;
    
    background-color: grey;
    width:100%;
    height:100%; 
    background: rgba(192,192,192, .8);
}

#green_button{
    text-align:center;
    border:1px solid black;
    border-spacing:10px;
    padding:15px;
    background: #00ba8b !important;
    width:50%;
    height:70%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	padding:4px 10px 5px;
	font-size:20px;
	margin:0 5px 0 0;
	font-weight:bold;
 
    color:#fff
}
#greenish_button{
    text-align:center;
    border:0px solid black;
    border-spacing:5px;
    padding:5px;
     background: #00ba8b !important;
    width:70%;
    height:40%;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
	padding:4px 10px 5px;
	font-size:15px;
	margin:0 5px 0 0;
	font-weight:bold;
 
    color:#fff
}

.space {position:relative;padding-right:10px;padding-left:10px}
.space1 {float:left}
.boxing_green {
        width: 270px;
   
  background-color:green !important;
}

.small-box {-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;position:absolute;top:-10px;right:10px;z-index:0;font-size:90px;color:rgba(0,0,0,0.15)}


.boxing_red {
    
    width: 270px;
    
background-color:coral;
}
.boxing_blue {
    background-color:darkturquoise;
    width: 270px;
    

}
.small-box {border-radius:10px;position:relative;display:block;margin-bottom:2px;box-shadow:0 1px 1px; rgba(0,0,0,0.1)}
.boxing_orange {
    background-color: orange;
    width: 270px;
    
    
}

.boxing_chocolate {
    background-color: chocolate;
    width: 270px;
    
}

.boxing_coral {
    background-color: mediumorchid;
    width: 270px;
    
}

.inner_windmill{
padding:20px;
}

.icon_boxing{-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;position:absolute;top:15px;right:5px;z-index:0;font-size:40px;color:rgba(0,0,0,0.15);
}




.main-sidebar{background: #009999;position:absolute;top:0px;bottom:0px;left:0;padding-top:0px;min-height:100%;width:210px;}



.main-sidebar{-webkit-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0)}

.dashboardicon { 
  position: relative;
  float:center;
   top: 0px;
  margin-bottom: 15px;
 
}

.sidebar { 
  position: absolute;
  float:left;
  width:270px; 
  top: 50px;
  bottom: 50px;
height:100%;
}
.wrapper1 {
  display: flex;
  min-height: 100%;
height: 100%;
  flex-direction: column;
  -ms-flex-direction: column;
  background: darkslategrey;
width:250px;
bottom:0px;

top:0px;
left:0px;
right:0px;
}

.small-box-footer{position:relative;border-radius:10px;text-align:center;padding:3px 0;color:#fff;color:rgba(255,255,255,0.8);display:block;z-index:10;background:rgba(0,0,0,0.1);text-decoration:none}
.small-box-footer:hover{color:#fff;background:rgba(0,0,0,0.15)}


.linkstyle {
font-size:20px; 
font-family:Segoe UI;
padding-left:20px;
text-shadow:0 -1px 0 #39d;
font-weight:bold;
padding-top:15px;
padding-bottom:15px;
width:165px;
height:30px;
color:black;
}
.linkstyle:hover {
	color: darkcyan;
background-color:#ecf0f5;
	
}
.heading{
	background-color:blue;
	height:150px;
	text-align:center;
	color:grey;
	
}




